<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<script>
function toggleLoginPassword() {
    const pwd = document.getElementById("loginPassword");
    pwd.type = pwd.type === "password" ? "text" : "password";
}
</script>

<body class="login-bg">

<div class="center-box">
    <h2>User Login</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" id="loginPassword" name="password" placeholder="Password" required>

<label style="font-size: 14px;">
    <div class="show-password">
    <input type="checkbox" id="showLoginPwd" onclick="toggleLoginPassword()">
    <label for="showLoginPwd">Show Password</label>
</div>

</label>

        <button type="submit">Login</button>
    </form>

    <p>
        Haven't registered yet?
        <a href="{{ url_for('register') }}">Register now!</a>
    </p>
</div>

</body>
</html>







